.container {
    max-width: 1280px;
    margin: 61px auto 30px;
    width: 100%;
}

* {
    font-family: sans-serif;
}

/* HEADER START */

.header {
    margin-bottom: 50px;
}

.header-logo-text {
    display: block;
    font-size: 80px;
    line-height: 94px;
    text-decoration: none;
    color: #000000;
    margin-bottom: 38px;
}

.header-logo-text-second {
    color: #76CFFF;
}

.header-navigation-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    box-sizing: border-box;
}

.header-navigation-list-item {
    box-sizing: border-box;
    background: #35444F;
    padding: 26px 36px 19px 36px;
    margin-right: 1px;
}

.first-top-menu {
    width: 162px;
}

.second-top-menu {
    width: 331px;
}

.third-top-menu {
    width: 150px;
}

.fourth-top-menu {
    width: 284px;
}

.fifth-top-menu {
    width: 354px;
    margin-right: 0;
}

.header-navigation-list-item-link {
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    text-decoration: none;
}

.header-navigation-list-item:hover {
    background: #222F3A;
}

.header-navigation-list-item:first-child:hover {
    background: #35444F;
}

/* HEADER END */

/* MAIN START */

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 54px;
}

.aside-navigation {
    width: 344px;
    height: 396px;
    border: 1px solid;
}

.aside-navigation-list {
    list-style-type: none;
}

.aside-navigation-list-item {
    padding: 26px 0 26px 44px;
}

.aside-navigation-list-item:hover {
    background: #DBDBDB;
}

.aside-navigation-list-item-link {
    font-size: 27px;
    line-height: 27px;
    color: #485863;
    text-decoration: none;
}

.main-information {
    max-width: 885px;
    width: 100%;
}

.main-information-image-container {
    height: 530px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    margin-bottom: 37px;
}

.main-information-image-container-main-image {
    transition: 0.3s;
}

.main-information-image-container-main-image:hover {
    transform: scale(1.1);
}

.main-information-text {
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin-bottom: 34px;
}

/* MAIN END */

/* FOOTER START */

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 69px;;
    background: rgba(99, 105, 110, 0.48);
}

.footer-navigation-list {
    display: flex;
    align-items: center;
    align-content: center;
    list-style-type: none;
}

.footer-navigation-list-item {
    margin-left: 40px;
}

.footer-navigation-list-item-link {
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
    text-decoration: none;
}

.footer-navigation-list-item-link:hover {
    color: #4781A9;
    text-decoration: underline;
}

.footer-text-copyright {
    font-size: 24px;
    line-height: 24px;
    color: #010101;
    margin-right: 40px;
}

/* FOOTER END */
