@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #0E0E0E;
}

.main::after {
    padding: 60px;
    background: #111110;
}

.container {
    position: fixed;
    max-width: 530px;
    left: calc(50% - 530px);
    right: calc(50% - 530px);
    width: 100%;
    margin: 0 auto;
    animation: scroll 30s infinite;
}

.main-text {
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 150%;
    text-transform: uppercase;
    text-align: left;
    color: #F9CE00;
    margin-bottom: 10px;
}

.main-text:nth-child(1),.main-text:nth-child(2) {
    text-align: center;
}

@keyframes scroll {
    0%{
        transform: perspective(300px) rotateX(30deg) translateZ(50px) translateY(550px);
    }
    100%{
        transform: perspective(300px) rotateX(30deg) translateZ(50px) translateY(-300px);
    }
}
